{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ReadDeployArtefacts",
      "Effect": "Allow",
      "Action": ["s3:GetObject"],
      "Resource": [
        "arn:aws:s3:::${BUCKET}/images/*",
        "arn:aws:s3:::${BUCKET}/manifests/*"
      ]
    },
    {
      "Sid": "ReadOpportunityBridgeSecrets",
      "Effect": "Allow",
      "Action": ["secretsmanager:GetSecretValue", "secretsmanager:DescribeSecret"],
      "Resource": "arn:aws:secretsmanager:${REGION}:${ACCOUNT_ID}:secret:opportunity-bridge/*"
    }
  ]
}
